.hero {
    min-height: 100vh;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 9%;
}

.hero-content {
    text-align: center;
    max-width: 1400px;
    width: 100%;
    margin-bottom: 250px;
}

.hero-content h1 {
    font-size: 52px;
    font-weight: 700;
    color: var(--color-text-primary);
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    color: var(--color-text-muted);
    margin-bottom: 50px;
}

/* CATEGORY CARDS */
.hero-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.category-card {
    position: relative;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    transition: transform 0.5s ease;
}

.category-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.25),
    rgba(0,0,0,0.8)
  );
}

.category-card span {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    font-weight: 600;
    z-index: 1;
}

.category-card:hover img {
    transform: scale(1.08);
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero-categories {
        grid-template-columns: 1fr;
    }

    .category-card {
        height: 220px;
    }

    .hero-content h1 {
        font-size: 40px;
    }
}
