.navbar{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px -2px black;
    padding: 15px 70px;
    gap: 40px;
    background-color: var(--color-surface);
}

/* LOGO */
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.nav-logo img{
    width: 45px;
}

.nav-logo p{
    color: var(--color-text-primary);
    font-size: 28px;
    font-weight: 600;
}

/* SEARCH BAR */
.nav-search{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 28px;
    height: 45px;
    width: 320px;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    background: white;
    margin-left: 120px;
}

.nav-search img{
    width: 18px;
    opacity: 0.6;
}

.nav-search input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #515151;
}

.nav-search input::placeholder{
    color: #9a9a9a;
}

.nav-search-wrapper{
    position: relative;
}

/* Dropdown */
.search-dropdown{
    position: absolute;
    top: 55px;
    width: 75%;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    padding: 10px 0;
    z-index: 100;
    margin-left: 120px;
}

/* Item */
.search-item{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    text-decoration: none;
    color: #171717;
}

.search-item:hover{
    background: #f5f5f5;
}

.search-item img{
    width: 45px;
    height: 55px;
    object-fit: cover;
    border-radius: 6px;
}

.search-item p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}

.search-item span{
    font-size: 13px;
    color: #555;
}

/* MENU */
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: var(--color-text-muted);
    font-size: 16px;
    font-weight: 500;
    margin-left: 80px
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu li a {
  color: var(--color-text-muted);
  text-decoration: none;
  transition: color 0.25s ease;
}

.nav-menu li a:hover {
  color: var(--color-primary);
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: var(--color-primary);
}

/* LOGIN + CART */
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

.nav-login-cart button{
    width: 130px;
    height: 45px;
    border-radius: 75px;
    background: transparent;
    border: 1px solid var(--color-border);
    color: var(--color-text-primary);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-login-cart button:active{
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.nav-login-cart img{
    width: 35px;
}

.nav-cart-count{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -40px;
    font-size: 14px;
    background: var(--color-accent);
    color: white;
}

.nav-dropdown{
    display: none;
}


/* -------- media query---------- */
@media(max-width:900px){
    .navbar{
        padding: 15px 40px;
    }
    .nav-menu{
        gap: 15px;
    }
}

@media(max-width:750px){
    .navbar{
        padding: 15px 20px;
    }
    .nav-login-cart{
        gap: 15px;
    }
    .nav-dropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    } 
    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 60px;
        left: 0;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
    .nav-cart-count{
        margin-left: -25px;
    }
}

@media(max-width:500px){
    .navbar{
        padding: 15px 15px;
    }

    .nav-logo img{
        width: 30px;
    }
    .nav-logo p{
        font-size: 18px;
    }
    .nav-menu-visible{
        height: 70px;
        top: 60px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    } 
    .nav-login-cart{
        gap: 10px;
    }
}
